<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>
  
  <li><%= @order[:email] %></li>
  <li><%= humanized_money_with_symbol @order[:total_cents] / 100.0 %></li>

  <li><%= @order.inspect %><li>

  <li>line items: <%= @order.line_items.inspect %></li>


  <% @order.line_items.each do |item| %>
    <%= product = item.product %>
    <li><%= product.inspect %></li>

    @order.line_items => loop through array .product.name

  <% end %>


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
